@import url('https://css.gg/arrow-top-right.css');

body {
  background-image: url(https://media.istockphoto.com/photos/blue-and-green-blurred-motion-abstract-background-picture-id1170825611?k=6&m=1170825611&s=170667a&w=0&h=yMdBXVt219s18coMIQfoF1Nik_-r58S9Viqwif7BHb0=);
  background-size: cover;
}

.border {
  border-width: thin;
  border-style: solid;
  border-color: white;
  align-items: stretch;

}

h1 {
    font-family: arial;
    font
}

li {
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  display: flex;
  list-style: none;
 margin-right: 1em;
}

nav, ul {
    font-family: arial;

}

header, nav ul {
  display: flex;

}

header {
  justify-content: space-between;
  align-items: center;
}

header li {
  list-style: none;
  margin-right: 1em;
}

header p {
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.hero p {
  font-size: 20px;

}

.hero {
  display: flex;
  color: white;
  font-size: 90px;
  text-align: left;
}

.logo {

  }

.border2 {
  border-width: 1px;
  border-style: solid none none none;
  border-color: white;
}

p {
  color: white;
  font-size: 20px;
  display: flex;
  list-style: none;
  margin-right: 1em;
}

.header {
  padding: 0em 1em;
  display: flex
}

.middle {

}

.header section {
  justify-content: flex-end;
  color: white;
  padding: 1em 1em;

}

.middle section {

}

.border2 ul {
  list-style: none;
  justify-content: space-between;
}

span {
  content: "\2197";
  color: white;
  width: 20px;
  height: 20px;
  justify-content: flex-end;
  color: white;
  padding: 1em 15em;
}
